<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav" *ngIf="isAuthenticated()=='ROLE_AdminWari'" >
            <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>
            <li routerLinkActive="active"><a routerLink="signup">S'inscrire</a></li>
            <button type="button" class="btn btn-danger" (click)="remove()" routerLink="auth">Se deconnecter</button>
        </ul>
        <ul class="nav navbar-nav" *ngIf="isAuthenticated()=='ROLE_User'" >
            <li routerLinkActive="active"><a routerLink="envoi_argent">envoi_argent</a></li>
            <li routerLinkActive="active"><a routerLink="retrait_argent">retirer_argent</a></li>
            <button type="button" class="btn btn-danger" (click)="remove()" routerLink="auth">Se deconnecter</button>
        </ul>
        <ul class="nav navbar-nav" *ngIf="isAuthenticated()=='ROLE_Partenaire' && tok()!=''" >
            <li routerLinkActive="active"><a routerLink="signup">Inscrire utilisateur partenaire</a></li>
            <li routerLinkActive="active"><a routerLink="liste_utilisateur">Liste des utilisateurs</a></li>
            <li routerLinkActive="active"><a routerLink="ajout_partenaire">Modifier un partenaire</a></li>
            <button type="button" class="btn btn-danger"  (click)="remove()" routerLink="auth">Se deconnecter</button>

        </ul>



    </div>
</nav> 

<router-outlet ></router-outlet>

